body{
    font-family: Arial;
    margin:0;
    background:#e6f2ff;
}

header{
    text-align:center;
    padding:30px;
    bacbackground:#003366;
    color:white;
}

.profile{
    width:150px;
    border-radius:50%;
}

nav{
    text-align:center;
    background:#2196F3;
    padding:10px;
}

nav a{
    color:white;
    margin:15px;
    text-decoration:none;
    font-weight:bold;
}

section{
    padding:40px;
}

.card{
    background:white;
    padding:20px;
    margin:15px 0;
    border-radius:10px;
    box-shadow:0 2px 5px rgba(0,0,0,0.2);
}

footer{
    text-align:center;
    background:#222;
    color:white;
    padding:10px;
}
